Peer-graded Assignment

Introduction:
    This notebook is a introduction of Data science tool

    1.Python
    2.C++
    3.Java
    4.R.
    5.SQL

    1.Pandas
    2.NumPy
    3.SciKit-Learn
    4.Matplotlib
    5.selenium

| Data science tool | 
| --- | 
| Apache Spark | 
| BigML |

Introduction about arithmetic expression examples:
    
    
Addition Operator: +

x + y


Subtraction Operator: –

x – y

Multiplication Operator: *

x * y

In [4]:
x = 2
y = 3
result = x + y
print(result)

5

In [5]:
result =(5 + 7) * 2
print(result)

24

In [6]:
#Convert minute to hour

M = 300
H = M/60
print(M,"minutes equal to",H,"hour")

300 minutes equal to 5.0 hour

Below the introduction of objectives: a) understand data science languages,b) understand data science tool. c) understand arithmetic expression examples:

HIU KIN LAU